<div class="container mt-4">
  <h3>{{ editingId ? 'Modifier' : 'Nouveau' }} médicament</h3>

  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <div class="mb-3">
      <label class="form-label">Nom *</label>
      <input class="form-control" formControlName="name" />
      <div class="text-danger small" *ngIf="hasError('name','required')">Le nom est obligatoire.</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Catégorie</label>
      <input class="form-control" formControlName="category" />
    </div>

    <div class="mb-3">
      <label class="form-label">Prix (CFA) *</label>
      <input type="number" class="form-control" formControlName="price" />
      <div class="text-danger small" *ngIf="hasError('price','required')">Le prix est obligatoire.</div>
      <div class="text-danger small" *ngIf="hasError('price','min')">Le prix doit être supérieur à 0.</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Stock *</label>
      <input type="number" class="form-control" formControlName="stock" />
      <div class="text-danger small" *ngIf="hasError('stock','required')">Le stock est obligatoire.</div>
      <div class="text-danger small" *ngIf="hasError('stock','min')">Le stock ne peut pas être négatif.</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Date d'expiration *</label>
      <input type="date" class="form-control" formControlName="expiryDate" />
      <div class="text-danger small" *ngIf="hasError('expiryDate','required')">La date d'expiration est requise.</div>
      <div class="text-danger small" *ngIf="hasError('expiryDate','invalidDate')">Date invalide.</div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="submitting">{{ editingId ? 'Mettre à jour' : 'Ajouter' }}</button>
    <a class="btn btn-secondary ms-2" routerLink="/medicines">Annuler</a>
  </form>
</div>
